# Gemini API Key configuration
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-3.5-flash
PORT=8080

# Ortak Veritabanı Bağlantısı (DİKKAT: Herkese açık projelerde şifre paylaşmak güvenlik riski oluşturur)
MONGODB_URI=mongodb+srv://mryguzel_db_user:vXKzWXqtgBTs5Fu8@felsefeportfoy.9guxx3v.mongodb.net/?appName=FelsefePortfoy
